.info {
  background-color: bisque;
}

.posFixed {
  height: 100px;
  width: 100px;
  padding: 20px;
  border-radius: 150px;
  position: fixed;
  background-color: lightcoral;
  bottom: 80px;
  right: 100px;
}

.carousel-inner {
  height: 500px;
  width: 100%;
}

.posRelative {
  padding: 10px;
  background-color: lightseagreen;
  width: 200px;
  position: relative;
  top: 30px;
  left: 200px;
}

.posAbs {
  width: 85%;
  height: 200px;
  padding: 30px;
  background-color: turquoise;
  position: relative;
  top: -300px;
}
